* {
  margin: 0;
  padding: 0;
}

.container {
  background: #4d0099;
  color: white;
}

.box1 {
  background: #2929a3;
  color: white;
}

.box2 {
  background: #7300e6;
  color: white;
}

.box2 p:hover {
  font-size: 20px;
}
